---

---

<div class="max-sm:text-center max-sm:px-7 pr-1 text-right">
  <a
    href="/docs/octavio_quiroz.pdf"
    target="_blank"
    type="button"
    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 max-sm:block max-sm:m-auto font-medium rounded-lg text-xl px-5 py-4 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
  >
    Download Resume
  </a>
</div>
